<footer
  class="w-full bg-miscellany text-cText font-sans font-medium pt-[var(--margin-header-footer)] pb-[20px] h-[var(--height-footer)]"
>
  <div class="flex flex-wrap items-center justify-around gap-x-2 gap-y-1">
    <a
      [href]="githubLink"
      class="block min-w-[78px] hover:text-accent"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit GitHub"
    >
      GitHub
      <i class="bi bi-github ml-1"></i
    ></a>

    <a
      href="mailto:{{ contactEmail }}"
      class="px-2 hover:text-accent"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Contact via Email"
      >{{ contactEmail }}</a
    >

    <a
      [href]="xAccount"
      class="block hover:text-accent"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit X"
    >
      <i class="bi bi-twitter-x"></i
    ></a>

    <div>v{{ projectVersion }}</div>
  </div>
</footer>
