services:

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/postgresql.conf:/var/lib/postgresql/postgresql.conf
    command: ["postgres", "-c", "config_file=/var/lib/postgresql/postgresql.conf"]
    env_file:
      - .env
    environment:
      POSTGRES_USER: dockeruser
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: medianalytics
    networks:
      - backend-network
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dockeruser -d medianalytics"]
      interval: 10s
      timeout: 5s
      retries: 5

  back-api:
    build:
      context: ./Back-api
      dockerfile: Dockerfile
    volumes:
      - ./Back-api:/app
      - ./config:/app/config
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
      DATABASE_URL: "postgresql+asyncpg://dockeruser:${DB_PASSWORD}@db:5432/medianalytics"
    ports:
      - "8080:8080"
    networks:
      - backend-network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  front:
    build:
      context: ./Front
      dockerfile: Dockerfile
    volumes:
      - ./Front:/app
      - front_node_modules:/app/node_modules
    ports:
      - "4200:4200"
    networks:
      - backend-network
    restart: unless-stopped

  back-data:
    build:
      context: ./Back-data
      dockerfile: Dockerfile
    volumes:
      - ./Back-data:/app
      - ./config:/app/config
      - ./Back-data/output:/app/output
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
      DATABASE_URL: "postgresql+asyncpg://dockeruser:${DB_PASSWORD}@db:5432/medianalytics"
      X_API_KEY: ${X_API_KEY}
      X_API_SECRET: ${X_API_SECRET}
      X_ACCESS_TOKEN: ${X_ACCESS_TOKEN}
      X_ACCESS_TOKEN_SECRET: ${X_ACCESS_TOKEN_SECRET}
    ports:
      - "3000:3000"
    networks:
      - backend-network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  back-ai:
    build:
      context: ./Back-ai
      dockerfile: Dockerfile
    volumes:
      - ./Back-ai:/app
      - ./config/sentiments_ideologies_enums.py:/app/config/sentiments_ideologies_enums.py
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
      API_KEY: ${API_KEY}
      GOOGLE_AI_API_URL: ${GOOGLE_AI_API_URL}
      VERIFY_SSL: ${VERIFY_SSL}
      CONNECTION_TIMEOUT: ${CONNECTION_TIMEOUT}
      READ_TIMEOUT: ${READ_TIMEOUT}
      MAX_CONNECTIONS: ${MAX_CONNECTIONS}
      MAX_KEEPALIVE_CONNECTIONS: ${MAX_KEEPALIVE_CONNECTIONS}
    ports:
      - "9000:9000"
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    driver: bridge

volumes:
  db-data:
  front_node_modules:
