__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
.env
.git
.gitignore
*.md
.vscode
.idea
.mypy_cache
.ruff_cache
*.log
*.swp
*.swo
*~
output/*
!output/.gitkeep
alembic/versions/*.pyc
.DS_Store
bin
obj
**/secrets.dev.yaml
**/values.dev.yaml
**/alembic
**/alembic.ini
**/test_scrap
**/sql_scripts
**/htmls
**/Medianalytics.egg-info
LICENSE
README.md
