<div class="flex flex-wrap justify-start gap-[var(--margin-standard)]">
  @for (item of mediaCompose; track item; let i = $index) {
  <div>
    <p-floatlabel variant="on">
      <p-select
        [id]="'filter-' + item.type + '-' + i"
        [options]="item.data()"
        [showClear]="true"
        [(ngModel)]="item.value"
        class="w-40"
        [filter]="true"
        filterBy="label"
        [group]="item.type === MEDIAS"
        [disabled]="item.disabled()"
        (onChange)="onSelectCompose(item)"
      >
        @if(item.type === MEDIAS) {
        <ng-template let-group #group>
          <div class="flex items-center" [style]="'color: ' + group.color">
            <div>
              <i [class]="'icon mr-2 bi bi-' + group.icon"></i>
            </div>
            <div>
              <span
                ><b>{{ "media_group." + group.label | translate }}</b></span
              >
            </div>
          </div>
        </ng-template>
        }
      </p-select>

      <label [for]="'filter-' + item.type + '-' + i">{{
        "filters." + item.type | translate
      }}</label>

      @if(item.type !== MEDIAS) {
      <i
        class="bi bi-info-circle base-tooltip-size absolute mt-[-10px] ml-[-5px] z-10 cursor-pointer hover:text-accent"
        tabindex="6"
        (click)="sendFiltersDialog(item.type)"
        (keydown.enter)="sendFiltersDialog(item.type)"
      ></i>
      }
    </p-floatlabel>
  </div>
  }
  <div>
    <p-floatlabel variant="on">
      <p-datepicker
        id="filter-date"
        [(ngModel)]="rangeDates"
        [minDate]="absoluteMinDate"
        [maxDate]="absoluteMaxDate"
        [showIcon]="true"
        inputId="filter-buttondisplay"
        selectionMode="range"
        [firstDayOfWeek]="1"
        dateFormat="d M y"
        [readonlyInput]="true"
        [showButtonBar]="true"
        (ngModelChange)="sendComposeValue()"
        styleClass="w-[215px]"
        [yearRange]="minDate?.getFullYear() + ':' + maxDate?.getFullYear()"
      />

      <label for="filter-date">{{ "filters.date" | translate }}</label>
    </p-floatlabel>
  </div>
</div>
