<p-dialog
  [header]="'dialog.' + header() | translate : { count: count() }"
  [(visible)]="isVisible"
  [style]="{
    width: header() !== GENERAL_MEDIAS ? '295px' : 'auto',
    maxWidth: '90vw',
    minWidth: '16vw',
    borderRadius: 'var(--border-radius-standard)',
    background: 'var(--color-miscellany)'
  }"
  [keepInViewport]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [draggable]="true"
  (onHide)="onClose()"
>
  @if (header() === GENERAL_MEDIAS) { @for (type of getUniqueGeneralTypes();
  track type) {
  <div class="mb-6">
    <h3 class="text-xl font-semibold text-accent mb-4">
      <i [class]="'icon mr-2 bi bi-' + getMediaIcon(type)"></i>
      {{ MEDIA_GROUP + "." + type | translate }}
    </h3>
    @for (country of getCountriesForType(type); track country) {
    <div class="ml-3 mb-4">
      <h4 class="text-xl font-serif font-semibold text-cText mb-2">
        {{ COUNTRIES + "." + country | translate }}
      </h4>
      <ul class="list-disc list-inside space-y-1">
        @for (media of getMediasForTypeAndCountry(type, country); track
        media.name) {
        <li class="text-base text-cText">
          @if(media.full_name) {
          <i
            class="bi bi-info-circle info-size z-100"
            [pTooltip]="media.full_name"
            [tooltipEvent]="isMobile ? 'focus' : 'hover'"
            tabindex="0"
          ></i>
          }
          <span class="font-semibold"> {{ media.name }}: </span>
          <a
            *ngIf="media.url"
            [href]="media.url"
            target="_blank"
            rel="noopener noreferrer"
            class="underline ml-2 text-cText hover:text-accent"
            >{{ media.url }}</a
          >
        </li>
        }
      </ul>
    </div>
    }
  </div>
  } } @if (header() === TYPES) { @for (type of getUniqueTypes(); track type) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      <i [class]="'icon mr-2 bi bi-' + getMediaIcon(type)"></i>
      {{ MEDIA_GROUP + "." + type | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (media of getMediaForType(type); track media.name) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{ media.name }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === COUNTRIES) { @for (country of getUniqueCountries();
  track country) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      {{ COUNTRIES + "." + country | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (media of getMediaForCountry(country); track media.name) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{ media.name }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === REGIONS) { @for (region of getUniqueRegions(); track
  region) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      {{ REGIONS + "." + region | translate }}
    </h3>
    @for (country of getCountriesForRegion(region); track country) {
    <div class="ml-4 mb-2">
      <h4 class="text-xl font-serif font-semibold text-cText mb-2">
        {{ COUNTRIES + "." + country | translate }}
      </h4>
      <ul class="list-disc list-inside space-y-1">
        @for (media of getMediaForRegionAndCountry(region, country); track
        media.name) {
        <li class="text-base text-cText">
          <span class="font-semibold">{{ media.name }}</span>
        </li>
        }
      </ul>
    </div>
    }
  </div>
  } } @if (header() === SENTIMENTS) {
  <div class="mb-5 mt-1 text-base text-cText max-w-[250px] text-center mx-auto">
    @if(dataFiltersDialog()?.generalMedias) {
    {{ "dialog.sentiments_home" | translate }}
    } @else {
    {{ "dialog.sentiments_filter" | translate }}
    }
  </div>
  @for (sentiment of getSentimentsSorted(); track sentiment.label) {
  <div class="mb-4">
    <h3
      class="text-xl font-semibold text-accent mb-2"
      [ngStyle]="{ color: sentiment.color }"
    >
      <i [class]="'icon mr-2 bi bi-' + sentiment.icon"></i
      >{{ SENTIMENTS + "." + sentiment.label | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (option of sentiment.items; track option.key) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{
          SENTIMENTS + "." + option.key | translate
        }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === IDEOLOGIES) {
  <div class="mb-5 mt-1 text-base text-cText max-w-[250px] text-center mx-auto">
    @if(dataFiltersDialog()?.generalMedias) {
    {{ "dialog.ideologies_home" | translate }}
    } @else {
    {{ "dialog.ideologies_filter" | translate }}
    }
  </div>
  @for (ideology of getIdeologiesSorted(); track ideology.label) {
  <div class="mb-4">
    <h3
      class="text-xl font-semibold text-accent mb-2"
      [ngStyle]="{ color: ideology.color }"
    >
      <i [class]="'icon mr-2 bi bi-' + ideology.icon"></i
      >{{ IDEOLOGIES + "." + ideology.label | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (option of ideology.items; track option.key) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{
          IDEOLOGIES + "." + option.key | translate
        }}</span>
      </li>
      }
    </ul>
  </div>
  } }
</p-dialog>
