<p-dialog
  [header]="'dialog.' + header() | translate : { count: count() }"
  [(visible)]="isVisible"
  [style]="{
    maxWidth: '90vw',
    minWidth: '16vw',
    borderRadius: 'var(--border-radius-standard)',
    background: 'var(--color-miscellany)'
  }"
  [keepInViewport]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [draggable]="true"
  (onHide)="onClose()"
>
  @if (header() === TYPES) { @for (type of getUniqueTypes(); track type) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      <i [class]="'icon mr-2 bi bi-' + getMediaIcon(type)"></i>
      {{ MEDIA_GROUP + "." + type | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (item of getItemsForType(type); track item.name) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{ item.name }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === COUNTRIES) { @for (country of getUniqueCountries();
  track country) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      {{ COUNTRIES + "." + country | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (item of getItemsForCountry(country); track item.name) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{ item.name }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === REGIONS) { @for (region of getUniqueRegions(); track
  region) {
  <div class="mb-4">
    <h3 class="text-xl font-semibold text-accent mb-2">
      {{ REGIONS + "." + region | translate }}
    </h3>
    @for (country of getCountriesForRegion(region); track country) {
    <div class="ml-4 mb-2">
      <h4 class="text-xl font-serif font-semibold text-cText mb-2">
        {{ COUNTRIES + "." + country | translate }}
      </h4>
      <ul class="list-disc list-inside space-y-1">
        @for (item of getItemsForRegionAndCountry(region, country); track
        item.name) {
        <li class="text-base text-cText">
          <span class="font-semibold">{{ item.name }}</span>
        </li>
        }
      </ul>
    </div>
    }
  </div>
  } } @if (header() === SENTIMENTS) {
  <div class="mb-5 mt-1 text-base text-cText max-w-[250px] text-center mx-auto">
    {{ "dialog.sentiments_info" | translate }}
  </div>
  @for (sentiment of getSentimentsSorted(); track sentiment.label) {
  <div class="mb-4">
    <h3
      class="text-xl font-semibold text-accent mb-2"
      [ngStyle]="{ color: sentiment.color }"
    >
      <i [class]="'icon mr-2 bi bi-' + sentiment.icon"></i
      >{{ SENTIMENTS + "." + sentiment.label | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (option of sentiment.items; track option.key) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{
          SENTIMENTS + "." + option.key | translate
        }}</span>
      </li>
      }
    </ul>
  </div>
  } } @if (header() === IDEOLOGIES) {
  <div class="mb-5 mt-1 text-base text-cText max-w-[250px] text-center mx-auto">
    {{ "dialog.ideologies_info" | translate }}
  </div>
  @for (ideology of getIdeologiesSorted(); track ideology.label) {
  <div class="mb-4">
    <h3
      class="text-xl font-semibold text-accent mb-2"
      [ngStyle]="{ color: ideology.color }"
    >
      <i [class]="'icon mr-2 bi bi-' + ideology.icon"></i
      >{{ IDEOLOGIES + "." + ideology.label | translate }}
    </h3>
    <ul class="list-disc list-inside space-y-1 ml-4">
      @for (option of ideology.items; track option.key) {
      <li class="text-base text-cText">
        <span class="font-semibold">{{
          IDEOLOGIES + "." + option.key | translate
        }}</span>
      </li>
      }
    </ul>
  </div>
  } }
</p-dialog>
