<p-dialog [(visible)]="isVisible" [style]="{
    width: '620px',
    maxWidth: '90vw',
    borderRadius: 'var(--border-radius-standard)',
    background: 'var(--color-miscellany)'
  }" [keepInViewport]="true" [closable]="true" [closeOnEscape]="true" [draggable]="true" (onHide)="onClose()">
  <ng-template #header pTemplate="header" styleClass="p-dialog-header">
    <span class="p-dialog-title">
      {{ (title() | translate) | titlecase }} - {{ count() | number:'1.0-0' }}
    </span>
  </ng-template>

  @if(dataSource) {
  <div #scrollContainer id="media-items-viewport" cdkVirtualScrollingElement>
    <div class="mb-2 text-base text-cText max-w-[95%] text-center mx-auto">
      @if(dataChartDialog()?.valuation === NONE) {
      <u>{{ "dialog.word" | translate }}</u>: <i>{{ title() | titlecase }}</i><br />
      *{{ "dialog.disclaimer3" | translate }}* } @else {
      <u>{{ "dialog.valuation" | translate }}</u>:
      <i>{{ (title() | translate) | titlecase }}</i>
      }<br />
      *{{ "dialog.disclaimer" | translate }}*<br />
      *{{ "dialog.disclaimer2" | translate }}*
    </div>
    <cdk-virtual-scroll-viewport #virtualScroll [itemSize]="ITEM_HEIGHT">
      <div *cdkVirtualFor="let row of dataSource; trackBy: trackByRow"
        [ngClass]="row.type === 'header' ? 'header-row' : 'url-row'">
        @if (row.type === 'header') {
        <b class="text-xl text-accent">{{ row.mediaName }}</b>
        } @else {
        <span class="url-content">
          <span class="url-link">
            <b>{{ row.urlIndex }}.</b>&nbsp;<a [href]="row.url" target="_blank" rel="noopener noreferrer"
              class="underline text-cText hover:text-accent" aria-label="Visit article">{{ row.url }}</a>
          </span>
          @if (row.frequency) {
          <span class="url-frequency text-sm">
            - <span class="font-bold">{{ "dialog.frequency" | translate }}:</span>&nbsp;{{ row.frequency }}
          </span>
          }
        </span>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <ng-template #footer pTemplate="footer" styleClass="p-dialog-footer">
    <div class="w-[95%] min-h-[3px] text-center text-cText text-lg">
      @if (dataSource.loading$ | async) {
      <p-progressbar mode="indeterminate" [style]="{ height: '3px' }" />
      } @else if (dataSource.cachedData.length <= 0) { {{ "dialog.no_data" | translate }} } </div>
  </ng-template>
  } @else {
  <ng-template #footer pTemplate="footer" styleClass="p-dialog-footer">
    <div class="w-[95%] h-[3px]">
      <p-progressbar mode="indeterminate" [style]="{ height: '100%' }" />
    </div>
  </ng-template>
  }
</p-dialog>