<p-dialog
  [(visible)]="isVisible"
  [style]="{
    maxWidth: '90vw',
    borderRadius: 'var(--border-radius-standard)',
    background: 'var(--color-miscellany)'
  }"
  [keepInViewport]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [draggable]="true"
  (onHide)="onClose()"
>
  <ng-template #header pTemplate="header" styleClass="p-dialog-header">
    <span class="p-dialog-title">
      {{ title() | translate }} - {{ count() }}
    </span>
  </ng-template>
  <div>
    {{ "dialog.chart" | translate }}
    {{ dataChartDialog()?.rangeDates?.[0] | date: 'longDate' }}
  </div>
</p-dialog>
