<div class="w-full h-full flex justify-center">
  <div class="text-center w-[70%] text-cText mym:w-[92%]">
    <div>
      <p class="mb-[25px]">
        {{ "manifest.description1" | translate }}
        <a
          [href]="githubLink"
          class="hover:text-accent"
          target="_blank"
          rel="noopener noreferrer"
          ><i>open-source</i></a
        >
        {{ "manifest.description2" | translate }}
      </p>

      <h1 class="mb-[25px]">
        {{ "manifest.how_works_title" | translate }}
      </h1>

      <p class="mb-[15px]">
        {{ "manifest.how_works1" | translate }}
        <br />
        {{ "manifest.how_works2" | translate }} (gemma-3-27b)
        {{ "manifest.how_works3" | translate }}
        <br />
        {{ "manifest.how_works4" | translate }}
        <br />
      </p>

      <h2 class="mb-[15px]">{{ "manifest.warning_title" | translate }}</h2>

      <p>
        {{ "manifest.warning1" | translate }}
        <br />
        {{ "manifest.warning2" | translate }}
        <br />
        {{ "manifest.warning5" | translate }}
        <br />
        {{ "manifest.warning3" | translate }}
        <a
          [href]="githubLink"
          class="hover:text-accent"
          target="_blank"
          rel="noopener noreferrer"
          ><i>open-source</i></a
        >{{ "manifest.warning4" | translate }}
      </p>
      <p class="mt-8">
        {{ "manifest.contribute1" | translate }}:
        <a
          [href]="githubLink"
          class="hover:text-accent"
          target="_blank"
          rel="noopener noreferrer"
          >{{ githubLink.slice(8) }}</a
        ><br />
        {{ "manifest.contribute2" | translate }}:
        <a
          [href]="xAccount"
          class="hover:text-accent"
          target="_blank"
          rel="noopener noreferrer"
          >{{ xAccount.slice(8) }}</a
        >
      </p>
      <p class="mt-12">
        <i
          >{{ "manifest.footer1" | translate }}
          <br />
          {{ "manifest.footer2" | translate }}
          <a
            href="mailto:{{ contactEmail }}"
            class="hover:text-accent"
            target="_blank"
            rel="noopener noreferrer"
            ><b>{{ contactEmail }}</b></a
          >
        </i>
      </p>
    </div>
  </div>
</div>
