<p-toast />
<div class="flex flex-wrap justify-start items-center gap-[var(--margin-standard)] mb-[var(--margin-standard)]">
  <app-filter (composeValues)="getComposeValues($event)"></app-filter>
  <p-floatlabel variant="on">
    <p-inputnumber
      class="w-[100px]"
      min="0"
      max="100000"
      [(ngModel)]="minRange"
      inputId="word-minRange"
      [locale]="LOCALE_ID === 'en' ? 'en' : 'es'"
    />
    <label for="word-minRange">{{ "filters.min_range" | translate }}</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-inputnumber
      class="w-[100px]"
      min="1"
      max="100000"
      [(ngModel)]="maxRange"
      inputId="word-maxRange"
      [locale]="LOCALE_ID === 'en' ? 'en' : 'es'"
      allowEmpty="false"
    />
    <label for="word-maxRange">{{ "filters.max_range" | translate }}</label>
  </p-floatlabel>
  <div>
    <p-radiobutton
      name="desc"
      value="desc"
      [(ngModel)]="order"
      inputId="word-desc"
    />
    <label class="ml-2" for="word-desc">{{ "filters.desc" | translate }}</label>
  </div>
  <div>
    <p-radiobutton name="asc" value="asc" [(ngModel)]="order" inputId="word-asc" />
    <label class="ml-2" for="word-asc">{{ "filters.asc" | translate }}</label>
  </div>
  <div>
    <p-button (onClick)="onClickFilter()" [raised]="true" size="small">{{
      "filters.filter" | translate
    }}</p-button>
  </div>
</div>

<div class="w-full h-[var(--height-table-filter)]">
  @if (dataWordsTable && dataWordsTable.data.length > 0) {
  <p-card styleClass="rounded bg-miscellany h-full">
    <app-sort-table [dataSortTable]="dataWordsTable"></app-sort-table>
  </p-card>
  } @else {
  <div class="w-full h-full">
    <app-no-data [noData]="noData"></app-no-data>
  </div>
  }
</div>
